<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <threshold value="ALL" />
      <param name="File" value="${ProgramData}\MoneyExchange\MoneyExchange.WS.log.xml" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Size" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <param name="StaticLogFileName" value="true" />
      <param name="maximumFileSize" value="100MB" />
      <param name="MaxSizeRollBackups" value="10" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true" />
      </layout>
    </appender>
    <appender name="console" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %newline%message%newline%newline" />
      </layout>
    </appender>
    <root>
      <!-- priority value can be set to ALL|INFO|WARN|ERROR -->
      <priority value="ALL" />
      <appender-ref ref="console" />
      <appender-ref ref="rollingFile" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="SqlServer" value="DESKTOP-BRDGFPA" />
    <add key="SqlReadDataBase" value="Eurosys" />
    <add key="SqlWriteDataBase" value="MoneyExchange" />
    <add key="SqlUserName" value="moneyexchange" />
    <add key="SqlPassword" value="123qwe" />
    <!--http://www.quartz-scheduler.net/documentation/quartz-2.x/tutorial/crontriggers.html-->
    <add key="CronSchedule" value="0/1 0/1 7-20 ? * MON-FRI,SUN" />
    <!-- OANDA SETTINGS-->
    <add key="OandaApiKey" value="0393f0fde4d0d4b20c09447c75c653e2-c89a9d13f747598753765dd346f2ffbb" />
    <add key="OandaAccountId" value="7181960" />
    <add key="OandaAccountType" value="practice" />
    <add key="OandaRateEndpointSupportedInstruments" value="EUR_USD,EUR_GBP,EUR_CHF,EUR_TRY,EUR_DKK,EUR_SEK,EUR_NOK" />
    <add key="OandaRateEndpointUpdateTime" value="1" />
  </appSettings>
</configuration>